/* styles.css */

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

#vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Background layer */
  pointer-events: none;
  opacity: 0.9; /* Adjust opacity as needed */
}

#content-container {
  position: relative;
  width: 100vw; /* Ensure full viewport width */
  height: 100vh; /* Ensure full viewport height */
  z-index: 2; /* Content layer above Vanta effect */
}

#header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px; /* Header height */
  z-index: 3; /* Ensure header is on top of Vanta effect and content */
  overflow: hidden;
}

#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px 20px;
  color: #ffffff;
}

#header-title {
  font-size: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#header-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the right */
}

#current-time {
  font-size: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* New Styles for Seconds */
.seconds {
  font-size: 0.6em; /* 60% of the parent font size */
  vertical-align: super; /* Superscript */
}

#content-frame {
  position: absolute;
  top: 150px; /* Below the header */
  left: 0;
  width: 100%;
  height: calc(100vh - 150px);
  border: none;
}

.vanta-canvas {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* Progress Bar Container */
#progress-bar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px; /* Thickness of the progress bar */
  background-color: rgba(255, 255, 255, 0.1); /* Light background for the container */
  z-index: 4; /* Above other content */
}

/* Progress Bar */
#progress-bar {
  width: 0%;
  height: 100%;
  background-color: #4caf50; /* Green color for the progress */
  transition: width linear;
}